{% extends '@Front/layout.html.twig' %}

    {% block title %}
        <title>
            Acceuil Loisirsdesportifs
        </title>
    {% endblock %}

{% block backoffice_body %}

hedha lbody

{% endblock %}
